footer {
  background-color: #333; /* Couleur de fond du footer */
  color: #fff; /* Couleur du texte */
  padding: 20px 0; /* Espacement intérieur du footer */
}

footer p {
  font-size: 16px; /* Taille de police */
  font-weight: bold; /* Gras */
}
