// Specific CSS for your home-page
.background-container {
  background-image: url('https://images.unsplash.com/photo-1579546929742-63e9b6b4fc56?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Remplacez 'image_name.jpg' par le nom de votre image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  color: black; /* Couleur du texte */
  font-size: 70px;
  font-family: "Cutive Mono", serif;
}

.CV {
  color: black; /* Couleur du texte */
  font-size: 40px;
}

#bio {
  font-size: 14px;
  font-weight: bold;
}

#job {
  font-size: 20px;
}

#card-home {
  border: none; /* Supprime la bordure de la carte */
}
