// Specific CSS for your home-page
.home-page {
  background-image: url('https://images.unsplash.com/photo-1594047752131-1ec0a6dfa4fc?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Remplacez 'image_name.jpg' par le nom de votre image */
  background-size: cover;
  background-position: center;
}

.title-cv {
  color: white;
}
