@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Cutive Mono", serif;
  font-size: 1.2em;
  line-height: 1.6;
  overflow-x: hidden;
  margin-top: 70px; /* Ajout de cette marge pour décaler le contenu en dessous de la navbar */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #d6d2d2;
  width: 100%;
  z-index: 1000; /* Assurez-vous que le z-index est supérieur à celui des autres éléments pour qu'il apparaisse au-dessus */
}

.container {
  position: relative; /* Ajout de position relative */
  z-index: 1; /* Assurez-vous que le z-index est supérieur à celui de la navbar */
}
