<html>
  <head>
    <title>SKILLS</title>
  </head>
  <body>
    <h1>SKILLS</h1>
    <ul>
      <% @skills.each do |skill| %>
        <li><%= link_to skill.name, skill %></li>
      <% end %>
    </ul>
  </body>
</html>

<%= link_to "Add a new skill", new_skill_path %>
