<html>
  <head>
    <title>SKILLS</title>
    <!-- Inclure Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
      .title{
        font-family: "Cutive Mono", serif;
      }
      .skill-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .skill-icon img {
        width: 40px; /* Ajustez la taille de l'icône selon vos besoins */
        height: 40px; /* Ajustez la taille de l'icône selon vos besoins */
      }
      .banner {
        overflow: hidden;
        position: relative;
        height: 400px; /* Hauteur de la bannière */
        width: 100%; /* Largeur de la bannière */
      }

      .banner h1 {
        position: absolute;
        top: 50%; /* Centrage vertical */
        left: 50%; /* Centrage horizontal */
        transform: translate(-50%, -50%); /* Ajustement pour centrer parfaitement */
        z-index: 1;
        color: white;
        font-family: "Cutive Mono", serif;
        font-size: 70px;
}

      .banner img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
<body>
    <!-- Bannière avec superposition du h1 -->
    <div class="banner position-relative d-flex justify-content-center align-items-center mb-4">
      <img src="https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="skills banner">
      <h1 class="text-white position-absolute bottom-0 start-50 translate-middle-x mb-4">SKILLS</h1>
    </div>

    <div class="container">
      <div class="row">
        <% @skills.each do |skill| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="skill-details">
                  <h5 class="card-title"><%= link_to skill.name, skill %></h5>
                  <%= link_to "See details", skill, class: "btn btn-primary" %>
                </div>
                <!-- Afficher l'icône de compétence depuis Cloudinary si elle existe -->
                <% if skill.icon.attached? %>
                  <div class="skill-icon">
                    <%= image_tag skill.icon %> <!-- Utilisez la méthode image_tag pour afficher l'image -->
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Add a new skill", new_skill_path, class: "btn btn-primary" %>
    </div>
  </body>
</html>
