<html>
  <head>
    <title>Liste des compétences</title>
  </head>
  <body>
    <h1>Liste des compétences</h1>
    <ul>
      <% @skills.each do |skill| %>
        <li><%= link_to skill.name, skill %></li>
      <% end %>
    </ul>
  </body>
</html>
