<!-- skills/index.html.erb -->

<html>
  <head>
    <title>SKILLS</title>
    <!-- Inclure Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
      .skill-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .skill-icon img {
        width: 30px; /* Ajustez la taille de l'icône selon vos besoins */
        height: 30px; /* Ajustez la taille de l'icône selon vos besoins */
      }
    </style>
  </head>
<body>
    <div class="container">
      <h1>SKILLS</h1>
      <div class="row">
        <% @skills.each do |skill| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="skill-details">
                  <h5 class="card-title"><%= link_to skill.name, skill %></h5>
                  <%= link_to "See details", skill, class: "btn btn-primary" %>
                </div>
                <!-- Afficher l'icône de compétence depuis Cloudinary si elle existe -->
                <% if skill.icon.attached? %>
                  <div class="skill-icon">
                    <%= image_tag skill.icon %> <!-- Utilisez la méthode image_tag pour afficher l'image -->
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Add a new skill", new_skill_path, class: "btn btn-primary" %>
    </div>
  </body>
</html>
