<div class="container d-flex justify-content-center align-items-center home-page" style="height: 100vh;">
  <div class="text-center title-cv">
    <p class="home">Youri Soposki</p>
    <p>My Online CV</p>
        <img src="/assets/youripic.png" alt="Photo de profil" style="width: 300px; height: 300px; border-radius: 50%;">
  </div>
</div>
