<div class="container d-flex justify-content-center align-items-center home-page" style="height: 100vh;">
  <div class="text-center title-cv">
    <h1>Youri Soposki</h1>
    <p>My Online CV</p>
  </div>
</div>
