<div class="background-container">
  <div class="container d-flex justify-content-center align-items-center home-page" style="height: 100vh;">
    <div class="text-center title-cv">
      <p class="home">Youri Soposki</p>
      <p>My Online CV</p>
        <img src="/assets/youripic.png" alt="Photo de profil" style="width: 300px; height: 300px; border-radius: 50%;">
      <p class="mt-4" id="bio">Welcome,

I'm Youri. I am 34 years old and I am from France. I currently live in Berlin.

I recently validated the fullstack web developer certification at Le Wagon which allows me to bring added value to my existing experience.

My career at CGI as a Software Engineer, followed by key roles at Joblift and Kuehne+Nagel in IT, shaped my versatility and in-depth understanding of technologies.

Recent completion of the bootcamp at Le Wagon has armed me with the skills to design, develop and deploy web applications, providing an innovative perspective and creative approach to tackling challenges.

I am confident that this combination of practical experience and recent training positions me as a valuable asset for future web projects.</p>
    </div>
  </div>
</div>
