.btn {

    background: none;
    border: solid 2px #FFF;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Cutive Mono", serif !important;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
