@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

body {
  font: inherit;
  font-family: "Cutive Mono", serif !important; /* Utilisation de !important pour s'assurer que cette propriété prend le dessus */
}

.container {
  padding: 20px;
}

h1 {
  color: #122293;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.card {
  border: solid 0px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: transparent;
}

.card-title a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.btn {
  background-color: white;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-log{
  background-color: white;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 0px;
}


.btn:hover {
  background-color: black;
  color: white;
}

.skill-card {
  width: 180px;
  margin: 0 10px; /* Ajoute une marge autour de chaque carte pour l'espace */
}
