html {
  font-family: "Cutive Mono", serif;
}

.navbar {
  margin-bottom: 20px;
}

#container-form {
  border: 1px solid black;
  max-width: 600px;
  margin: 40px auto;
  padding: 15px;
}

h2 {
  color: black;
  font-size: 28px;
  text-align: center;
}

input[type='text'],
input[type='email'],
select {
  background: none;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-size: 0.9em;
  margin: 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
  transition: all 0.3s;
}

input[type='text']:focus,
input[type='email']:focus {
  outline: none;
  border-bottom: 2px solid black;
}

textarea {
  background: transparent; /* Rend le textarea transparent */
  border: none;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 0.9em;
  margin: 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
  line-height: 150%;
  height: 100px;
  resize: none;
  transition: all 0.3s;
}

textarea:focus {
  color: #FFF; /* Le texte devient blanc lorsque le textarea est en focus */
  outline: none;
  border-bottom: 2px solid black;
}

select {
  background: url('http://web.missouri.edu/~blly4b/ISLT7360/FinalProject/FINAL/icon-ios7-arrow-down-32.png') no-repeat right;
  appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

#form_button {
  background: none;
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: "Cutive Mono", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 35px;
  margin: 15px auto;
  transition: all 0.3s;
}

#form_button:hover {
  background: black;
  color: #ffffff;
}

.form-group.row {
  display: flex;
  justify-content: space-between;
}

.form-group.row .col {
  flex: 1;
  margin-right: 10px;
}

.form-group.row .col:last-child {
  margin-right: 0;
}

.footer {
  margin-top: 20px;
}
